<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body>
    <header>
        <% include ./header %>
    </header>
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <nav style="background-color:#cbeaf1;align-content: center;">
                  <h4 style="font-weight:bolder"><p  style="text-align:center;color: #005d72;">Training Programs</p></h4> 
                  <ul class="nav nav-divibar nav-stacked"  >
                      
                     <li style="text-align:center"><img class="img1p" src="images/moodle-logo.png" width=80px height=80px >
                        <br /> Moodle</li>
                       
                     <li style="text-align:center"><img class="img1p" src="images/datascience.jpg" width=80px height=80px >
                        <br />Data Science and Analytics</li>
                                     
                     <li style="text-align:center"><img class="img1p" src="images/download.png" width=80px height=80px >
                        <br />R programming</li>
                                     
                     <li style="text-align:center"><img class="img1p" src="images/iot.png" width=80px height=80px >
                        <br />Internet of Things</li>
                    
                  </ul>
                </nav>
              </div>
        
          <div class="col-lg-8">
              <!--<div class="media">-->
                  <div class="media-body">
                      <h4 class="media-heading" style="font-weight:bolder;">About</h4>
                  </div>
                  <!--<div class="media-middle">
                      <div class="wpb_wrapper">-->
                          <h2 style="text-align: left;"><span style="color: #993366;"><strong style="color: #005d72;">What is ICT Academy of Kerala?</strong></span></h2>
                      <!--</div>
                      <div class="wpb_wrapper">-->
                              <p><span style="line-height: 1.5;">ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.</span></p>
                     <!-- </div>
                      <div class="wpb_wrapper">-->
                          <h2 style="text-align: left;"><strong style="color: #005d72;">Vision</strong></h2>
                         <!-- </div>
                          <div class="wpb_wrapper">-->
                              <p><span style="line-height: 1.5;">To emerge as the single-point establishment for all the ICT related capability building in the State</span></p>
                             <!-- </div>
                              <div class="wpb_wrapper">-->
                                  <h2 style="text-align: left;"><strong style="color: #005d72;">Our Key Focus Areas</strong></h2>
                                  <!--</div>
                                  <div class="wpb_wrapper">-->
                                      
                                      <p style="text-align: justify;">(a) Industry focused enablement programs for Faculty members</p>
                                      <p>(b) Industry focused ICT Skills development program for Students</p>
                                      <p>(c) Industry collaborated Research and Projects assistance to academic institutions</p>
                                      <p>(d) Project assignments related to capability building for Institutions and Corporate</p>
                                      <p>(e) Creating Intellectual Property on niche skill areas and emerging technologies</p>
                                      
                                  
                                     <!-- </div>

                                <div class="wpb_wrapper">-->
                                        <h6 style="text-align: left;"><strong style="color: #005d72;">CONTACT</strong></h6>
                                            <p> ICT Academy of Kerala, Module No.L-9,Thejaswini Building, Technopark,Trivandrum</p>
                                             <p> +91 471 2700 811,Fax: +91 471 2700 812 ,Email: info@ictkerala.org</p>
                              <!--  </div>   -->   
                 <!-- </div>-->
              <!--</div>-->
          </div>
          <div class="col-lg-2">
                <nav  style="background-color:#cbeaf1; align-items: center" >
                    <h4 style="font-weight:bolder" align:justify><p  style="text-align:center;color: #005d72;">Training Categories</p></h4>
                    <ul class="nav nav-divibar nav-stacked" >
                        
                       <li style="text-align:center"><img class="img1p" src="images/fac-dev-pgm.jpg" width=80px height=80px >
                          <br /> Faculty Developement Program</li>
                         
                       <li style="text-align:center"><img class="img1p" src="images/it-training.png" width=80px height=80px >
                          <br />IT Training Program</li>
                    </ul>
                  </nav>
                </div>
        </div>
       </div>
       <footer style="position:absolute;padding-bottom:20px;bottom:0;width:100%;display:block;background-color:darkgrey">
        <% include ./footer %>
        </footer>

       <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
       <script type="text/javascript" src="js/bootstrap.min.js"></script>
          
</body>
</html>