<!DOCTYPE html>
<html>
<head>
  <% include ./head %>
    <style>
      #success_message{ display: none;}
    </style>
</head>
<body>
    <header>
       <% include ./header %>
    </header>

  <div class="container-fluid">
   <div class="row">
     <div class="col-lg-2">
      <nav style="background-color:#cbeaf1;align-content: center;">
        <h4 style="font-weight:bolder"><p  style="text-align:center;color: #005d72;">Training Programs</p></h4> 
        <ul class="nav nav-divibar nav-stacked"  >
            
           <li style="text-align:center"><img class="img1p" src="images/moodle-logo.png" width=80px height=80px >
              <br /> Moodle</li>
             
           <li style="text-align:center"><img class="img1p" src="images/datascience.jpg" width=80px height=80px >
              <br />Data Science and Analytics</li>
                           
           <li style="text-align:center"><img class="img1p" src="images/download.png" width=80px height=80px >
              <br />R programming</li>
                           
           <li style="text-align:center"><img class="img1p" src="images/iot.png" width=80px height=80px >
              <br />Internet of Things</li>
          
        </ul>
      </nav>
    </div>

    <div class="col-lg-8">
      <div>
          <div class="media-body">
              <h4 class="media-heading" style="font-weight:bolder;">Services</h4>
          </div>
          <h2  style="color:#005d72"><strong> Course Delivery using Moodle</strong></h2>
        <p style="line-height: 1.5;">            
            The main topics covered are :-<br />
            Why Moodle? <br />
            It runs on almost all platforms, supporting a lot of useful function and customization. It is used all over the world by teachers and educators and it’s probably the best E-Learning tool.
            
            <br />System requirement specifications and Installation Procedures<br />
            Covers basic hardware and softwre requirements for the moodle configuration and installation.
            
            <br />Creation of Courses.<br />
            Allows the faculty to ceate new courses in the platform and schedule the activities as per lesson plan.
            
            <br /> Forum Creation.<br />
            Participation in forums can be an integral part of the learning experience, helping students define and evolve their understanding of subject matter.
        </p>
      </div>



        <center><h2 style="color:#005d72"><b>Registration Form</b></h2></center><br>
      <form class="form-horizontal" name="=myForm" action="" method="post" onsubmit="return validation(); ">
     <!-- First Name-->
   <div class="form-group">
      <label class="col-md-4 control-label">First Name</label>  
      <div class="col-md-4 inputGroupContainer">
       <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
       <input  id="firstName" name="firstName" placeholder="First Name" class="form-control"  type="text">
       </div>
      </div>
      <span id="firstNameSpan" class="text-danger font-weight-bold"></span>
     </div>

     <!-- Last Name-->

     <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label> 
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="lastName" id="lastName" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
        <span id="lastNameSpan" class="text-danger font-weight-bold"></span>
      </div>

      <!-- District-->
      <div class="form-group"> 
          <label class="col-md-4 control-label">Department / Office</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select id="district" name="district" class="form-control selectpicker">
              <option value="">Select your district</option>
              <option>Thiruvananthapuram</option>
              <option>Kollam</option>
              <option >Pathanamthitta</option>
              <option >Alappuzha</option>
              <option >Kottayam</option>
              <option >Ernakulam</option>
              <option >Thrissur</option>
              <option >Palakkad</option>
              <option >Idukki</option>
              <option >Malappuram</option>
              <option >Kannur</option>
              <option >Kasaragod</option>
              <option >Wayanad</option>
              <option >Kozhikode</option>
            </select>
          </div>
        </div>
        <span id="districtSpan" class="text-danger font-weight-bold"></span>
        </div>             
      <!--User Name-->
      <div class="form-group">
          <label class="col-md-4 control-label">Username</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="user_name" name="user_name" placeholder="Username" class="form-control"  type="text">
            </div>
          </div>
          <span id="userNameSpan" class="text-danger font-weight-bold"></span>
        </div>
      <!--User Password-->
        <div class="form-group">
            <label class="col-md-4 control-label" >Password</label> 
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="upwd" name="user_password" placeholder="Password" class="form-control"  type="password">
              </div>
            </div>
            <span id="userPwdSpan" class="text-danger font-weight-bold"></span>
          </div>
      <!-- Confirm Password-->
        <div class="form-group">
            <label class="col-md-4 control-label" >Confirm Password</label> 
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="cpwd" name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password">
              </div>
            </div>
            <span id="cnfmPwdSpan" class="text-danger font-weight-bold"></span>
          </div>
      <!--email-->
        <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>  
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="email" name="email" placeholder="E-Mail Address" class="form-control"  type="text" >
              </div>
            </div>
            <span id="emailSpan" class="text-danger font-weight-bold"></span>
          </div>
      <!--contact number-->
         <div class="form-group">
              <label class="col-md-4 control-label">Contact No.</label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input id="contact" name="contact_no" placeholder="123***789" class="form-control" type="text">
                </div>
              </div>
              <span id="cntNoSpan" class="text-danger font-weight-bold"></span>
            </div>
      <!--Submit-->
         <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                  </div>
</form>
</div>
<div class="col-lg-2">
<nav  style="background-color:#cbeaf1; align-items: center" >
    <h4 style="font-weight:bolder" align:justify><p  style="text-align:center;color: #005d72;">Training Categories</p></h4>
    <ul class="nav nav-divibar nav-stacked" >
        
       <li style="text-align:center"><img class="img1p" src="images/fac-dev-pgm.jpg" width=80px height=80px >
          <br /> Faculty Developement Program</li>
         
       <li style="text-align:center"><img class="img1p" src="images/it-training.png" width=80px height=80px >
          <br />IT Training Program</li>
    </ul>
  </nav>
</div>
</div>
</div>
</div>
<footer style="padding-bottom:20px;bottom:0;width:100%;display:block;background-color:darkgrey">
  <% include ./footer %>
</footer>
<script type="text/javascript">



function validation(){

var ftname=document.getElementById('firstName').value;
var ltname=document.getElementById('lastName').value;
var uname=document.getElementById('user_name').value;
var email=document.getElementById('email').value;
var cnt=document.getElementById('contact').value;
var upwd=document.getElementById('upwd').value;
var cpwd=document.getElementById('cpwd').value;
var dstrt=document.getElementById('district').value;
/*
var pattern="^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$";
var x = document.forms["myForm"]["email"].value;*/
 /*First Name Validation*/  

if(ftname=='')
{
    document.getElementById("firstNameSpan").innerHTML = "** Please fill the First Name";
    return false;
}
if(ftname.length<3){
    document.getElementById("firstNameSpan").innerHTML = "Name Must Be Atleast 3 characters";
    return false;
}
/*for (i = 0; i < ftname.length; i++) 
{
if(ftname.indexOf(charCodeAt(i) > 48) != -1 && ftname.indexof(charCodeAt(i) < 58) != -1){
  /*ftname.indexOf("0"||"1"||"2"||"3"||"4"||"5"||"6"||"7"||"8"||"9") != -1){
  charCodeAt(i) > 48) != -1 && a.indexof(charCodeAt(i) < 58) != -1)*/
/*
document.getElementById("firstNameSpan").innerHTML="You cannot enter numbers in Name field";
return false;
}
}*/

/*Last name validation*/
if(ltname==''){

    document.getElementById("lastNameSpan").innerHTML = "** Please fill the Last Name";
    return false;
}
if(ltname.indexOf(0-9) != -1){

document.getElementById("lastNameSpan").innerHTML="You cannot enter numbers in Name field";
}

/*District Username Password Validation*/
if(dstrt==''){

    document.getElementById("districtSpan").innerHTML = "** Please select district";
    return false;
}

if(uname==''){

document.getElementById("userNameSpan").innerHTML = "** Please fill the User Name";
return false;
}
if(upwd==''){

document.getElementById("userPwdSpan").innerHTML = "** Please fill the Password";
return false;
}

if(upwd.length<4){
document.getElementById("userPwdSpan").innerHTML = "Password Must Be Atleast 4 characters";
return false;
}
if(cpwd==''){

document.getElementById("cnfmPwdSpan").innerHTML = "** Please confirm Password";
return false;
}

if(upwd!==cpwd){
document.getElementById("userPwdSpan").innerHTML = "Passwords do not match";
return false;
}

/*email validation*/
if(email==''){

document.getElementById("emailSpan").innerHTML = "** Please fill the Email address";
return false;
}
var atpos = email.indexOf("@");/*indexOf() method returns the position of the first occurrence of a specified value in a string
                            method returns -1 if the value to search for never occurs*/
var dotpos = email.lastIndexOf(".");/*The lastIndexOf() method returns the position of the last occurrence of a specified value in a string.
                                      Note: The string is searched from the end to the beginning, but returns the index starting at the beginning, at position 0.
                                      This method returns -1 if the value to search for never occurs.
                                      Note: The lastIndexOf() method is case sensitive!*/
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length) {
    document.getElementById("emailSpan").innerHTML = "** Please fill valid Email address";
    return false;
}

/*phone validation*/

if(cnt==''){

document.getElementById("cntNoSpan").innerHTML = "** Please fill the Contact Number";
return false;
}

if(cnt.length<10/*||cnt.indexOf()*/){
  document.getElementById("cntNoSpan").innerHTML = "** Please fill a valid Contact Number";
  return false;

}

else {
    return true;
}
}    
</script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>